OPENAI_API_KEY=
PINECONE_ENV=
PINECONE_CLIENT_KEY=
SCHEMA_REGISTRY_URL=
BOOTSTRAP_SERVERS=
KAFKA_USERNAME=
KAFKA_PASSWORD=
SCHEMA_REGISTRY_USERNAME=
SCHEMA_REGISTRY_PASSWORD=
MONGO_USER=
MONGO_PASSWORD=